body{font-size: 12px;color: #000;}
#header{
  height: 57px;
  display: flex;
	background: #fff;
	position: relative;
	min-width: 1260;
	line-height: 24px;
	font-family: simhei;
}
.xiu{
  position: absolute;
  flex: 1;
	display: block;
	width: 179px;
	height: 54px;
	overflow: hidden;
	background-color: #cf1132;
	text-align: center;
	line-height: 54px;}
 #header .xiu i{
  display: inline-block;
  flex: 1;
  width: 25px;
  height: 11px;
  background: url(../img/5.png) -90px -306px no-repeat;
  margin-right: 8px;
}
a{text-decoration: none;color: #fff;}
.logo{
  position: absolute;
  flex: 1;
	width: 420px;
	left: 695px;
	padding-top: 0;
	display: block;
	text-align: center; 
}
.logo img{
  position: absolute;
  flex: 1;
	width: 133px;
	height: 44px；
}
.xiu-right{
  position: absolute;
  flex: 1;
  right: 10px;
  top: 0;
  display: block;
  width: 138px;
  height: 54px;
  overflow: hidden;
  border-left: 1px solid #dadadada;
}
.xiu-right a{
  color: #333!important;
  flex: 1;
  width: 100%;
  text-align: center;
  display: inline-table;
  float: left;
  line-height: 52px;
  text-decoration: none;
}
.xiu-right a:hover{
  border-bottom: 1px solid #f00;
  background: #f5f5f5;
}